<div class="modal fade" id="new-photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new-photo-title">New Photo</h4>
      </div>
      <div class="modal-body">
        <form id="new-photo-form">
          <div class="form-group">
            <label for="new-photo">Project Photo</label>
            <input type="file" class="photo-upload">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="photo-submit" data-dismiss="modal">Add Photo</button>
      </div>
    </div>
  </div>
</div>
