<h3>Pledge $<%= LaunchAssist.Util.prototype.numberWithCommas(tier.escape('amount')) %> or more</h3>
<p> <%= tier.escape('numPledges') %> pledges</p>
<p> <%= tier.escape('rewards') %></p>
<p> Estimated delivery: <%= LaunchAssist.Util.prototype.monthYear(tier.escape('delivery_date')) %></p>
