<p><%= comment.escape('body') %></p>
<p><%= " -- " + comment.username() %></p>
<% if (currentUser.get('id') == comment.user_id()) { %>
  <button type="button" class="btn btn-danger" id="comment-item-delete">Delete Comment</button>
<% } %>
