<div class="container" style="margin-bottom: 15px">
  <div class="row" style="margin-bottom: 15px">
    <div class="col-xs-3"></div>
    <button type="button" id="add-tier" class="btn btn-primary col-xs-6" data-toggle="modal" data-target="div#new-tier">Add Tier</button>
    <div class="col-xs-3"></div>
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <button type="button" id="back" class="btn col-xs-6">Back</button>
    <div class="col-xs-3"></div>
  </div>
</div>
<div class="container" id="tier-edits"></div>
