<div class="col-xs-3"></div>
<div class="tier-edit-holder col-xs-6">
  <p>Amount: $<%= LaunchAssist.Util.prototype.numberWithCommas(tier.escape('amount')) %></p>
  <p>Rewards: <%= tier.escape('rewards') %></p>
  <p>Delivery Date: <%= LaunchAssist.Util.prototype.monthYear(tier.escape('delivery_date')) %></p>
  <button type="button" class="btn btn-primary" id="edit-tier">Edit Tier</button>
</div>
<div class="col-xs-3"></div>
