<% unless flash[:errors].nil? %>
  <div class="container errors">
    <ul class="list-group col-md-4">
      <% flash[:errors].each do |error| %>
        <li class="list-group-item"><%= error %></li>
      <% end %>
    </ul>
    <div class="col-md-8"></div>
  </div>
<% end %>
